body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("library1.jpeg");
    background-color: #cccccc;
}

h1 {
    text-align: center;
    margin-top: 30px;
}

#search-bar {
    text-align: center;
    margin-bottom: 20px;
}

#search-input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid lightgray;
    outline: none;
}

#search-suggestions {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
    max-width: 300px;
    margin: auto;
    background-color: white;
    border: 1px solid lightgray;
    border-top: none;
}

#search-suggestions li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid lightgray;
}

#search-suggestions li:last-child {
    border-bottom: none;
}

#search-suggestions li:hover {
    background-color: lightgray;
}

#filters {
    text-align: center;
    margin-bottom: 20px;
}

#filters label {
    margin-right: 5px;
}

#filters input {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid lightgray;
    outline: none;
}

#book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.book {
    width: 300px;
    border: 1px solid lightgray;
    padding: 20px;
    margin: 10px;
    border-radius: 4px;
}

.book-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.book-info {
    margin-bottom: 10px;
}

.book-availability {
    font-weight: bold;
}

#cart {
    border: 1px solid lightgray;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
}

#cart h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

#cart-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#cart-items li {
    margin-bottom: 5px;
}

#checkout-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #8c4caf;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#checkout-btn:hover {
    background-color: #454ea0;
}
